hr {
  box-sizing: content-box; // 1
  height: 0; // 1
  overflow: visible; // 2
  border: none;
  border-top: 1px solid var(--muted-border-color);
}

// Add the correct display in IE 10+
[hidden],
template {
  @if $enable-important {
    display: none !important;
  } @else {
    display: none;
  }
}

// Add the correct styles in Edge 18-, IE, and Safari
dialog {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 1em;
  border: solid;
  background-color: white;
  color: black;
}

dialog:not([open]) {
  display: none;
}

// Add the correct display in IE 9-
canvas {
  display: inline-block;
}
