[aria-busy="true"] {
  @apply cursor-progress;
}

[aria-busy="true"]:not(input):not(select):not(textarea) {
  &::before {
    @apply inline-flex w-4 h-4;
    border: 0.15rem solid currentColor;
    border-radius: 1rem;
    border-right-color: transparent;
    animation: spinner 0.75s linear infinite;
    content: "";
  }

  &:not(:empty) {
    &::before {
      @apply mr-2;
    }
  }

  &:empty {
    @apply text-center;
  }
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"],
a {
  &[aria-busy="true"] {
    @apply pointer-events-none;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
